*{
    background-color: rgb(163, 209, 237);
}
box{
    background-color: rgb(163, 209, 237);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}